<section class="container">
  <div class="row">
    <div class="column">
      <div class="post">
        <article>
          <h1><%= @post.title %></h1>
          <%= raw @post.body %>
        </article>
      </div>
    </div>
  </div>
</section>
