<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "FineCode - Exploring better coding" %></title>
    <link rel="icon" href={~p"/images/favicon.png/"} />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href={~p"/assets/app.css"}/>
    <link rel="alternate" href={~p"/feeds/atom.xml"} type="application/atom+xml" title="FineCode Atom Feed">
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header class="page-header wrapper">
      <a href="/">
          <img src={~p"/images/logo.png"} alt="FineCode Logo" class="logo"/>
      </a>
      <nav role="navigation">
        <ul class="main-nav">
          <li><a href={~p"/blog"}>Blog</a></li>
          <li><a href={~p"/about"}>About</a></li>
        </ul>
      </nav>
    </header>
    <main role="main" class="wrapper">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src={~p"/assets/app.js"}></script>
  </body>
</html>
