<section class="phx-hero">
  <h2>このブログについて</h2>
  <p>
  日々ソフトウェア開発をする中での気づきや自分で試してみたことについて書いていきたいと思います。
  </p>
  <h2>書いている人について</h2>
  <p>
  はじめまして、@yosu です。ソフトウェアエンジニア、プログラマーとして日々働いています。
  最初はWindows/Macのアプリケーション開発からスタートして、2000年頃からWeb開発に移り、主にバックエンド周りの開発をしてきました。
  意図が分かりやすく読みやすいプログラムや変更が容易で長く使えるソフトウェアアーキテクチャに興味があります。趣味はテニスとパン作りです。
  </p>
</section>
