<div id="home" class="big-bg">
  <section class="home-content">
    <h1 class="page-title">ようこそ!</h1>
    <p>プログラマー @yosu のブログです。</p>
    <p>興味のあるテクノロジーやトライしてみたことを書いていきます。</p>
  </section><!-- /.home-content -->
</div><!-- /#home -->
