@charset "UTF-8";

/* HEADER
--------------------------------------------- */
.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 2.25rem;
    text-transform: uppercase;
    margin-top: 26px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 4%;
}


/* HOME
 ---------------------------------------- */
.home-content {
    text-align: center;
    padding-top: 10%;
}

.page-title {
    font-size: 5rem;
    font-weight: normal;
}

/* 大きな背景画像 */
.big-bg {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url("../static/images/bg.jpg");
    min-height: 100vh;
}

/* POST Index
 ---------------------------------------- */
.post-list-item {
    border: #d1d1d1 solid 1px;
    border-radius: 6px;
    margin-bottom: 2.5rem;
    padding: 2rem 2rem 0;
}

/* POST Show
 ---------------------------------------- */
.post article h1 {
    font-size: 3.6rem;
}

/* ABOUT
 ---------------------------------------- */
.sns-list {
    list-style: none;
}

/* MOBILE
 ---------------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
        font-weight: normal;
    }

    .main-nav {
        font-size: 1.65rem;
    }
}
